  <div  ng-controller="lookfor">
      <style type="text/css">


   * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.box    {  
  box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:5% auto 0 auto; 
  border-radius:5px;
  overflow:hidden;
  position: relative;
}

.box img {
  display: block;
}

.overlay    {
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(0,0,0,.75);
  text-align:center;
  opacity:0;
  -webkit-transition: opacity 1s ease;
}

.box:hover .overlay {
  opacity:1;
}

.overlay .plus:before { 
  content:&quot;+&quot;;
  margin: 0;
  padding: 0;
  position: absolute;
  top:50%;
  left:50%;
  font-family:Helvetica;
  font-weight:1900;
  color:rgba(0,0,0,0);
  font-size:6rem;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}


.overlay.clicked .plus:before {
  content:&quot;-&quot;;
}
</style>
 <div class="panel panel-success">
	 <ul class="list-group alt">
	  <div class="panel-heading"></div>
  <div ng-repeat="model in data.stores">
          <li ui-sref="app.shop.store({ id: model.name })" class="list-group-item">
            <div class="media">
              <span class="pull-left">
			  <img  check-image ng-src="{{model.img || $parent.imageunavailable}}" height="60" width="60"  alt="..." class="img-circle"></span>
              <div class="pull-right text-success m-t-sm">
                <i class="fa fa-circle"></i>
              </div>
              <div class="media-body">
                <div><a href>{{model.name}}</a></div>
                <small class="text-muted">{{model.description}}</small>
              </div>
            </div>
          </li> 
      </div>
  <div ng-repeat="model in data.brands">
		<li ui-sref="app.shop.brand({ id: model.name })" class="list-group-item"> 
            <div class="media">
              <span class="pull-left">
			  <img check-image ng-src="{{model.img || $parent.imageunavailable}}" height="60" width="60"  alt="..." class="img-circle"></span>
              <div class="pull-right text-success m-t-sm">
                <i class="fa fa-circle"></i>
              </div>
              <div class="media-body">
                <div><a href>{{model.name}}</a></div>
                <small class="text-muted">{{model.description}}</small>
              </div>
            </div>
          </li>
      </div>
	   <div ng-repeat="model in data.users">
	    <li ui-sref="app.shop.user({ id: model.name })" class="list-group-item">
            <div class="media">
              <span class="pull-left">
					<img check-image ng-src="{{model.img || $parent.imageunavailable}}" class="img-circle" height="60" width="60" alt="Washed Out">
				
			  </span>
              <div class="pull-right text-success m-t-sm">
                <i class="fa fa-circle"></i>
              </div>
              <div class="media-body">
                <div><a href>{{model.name}}</a></div>
                <small class="text-muted">{{model.description}}</small>
              </div>
            </div>
          </li>
		  </div>
            <div class="media">
              <span class="pull-left thumb-sm">
  <div class="media-body">
                <div><a href>{{model.name}}</a></div>
                <small class="text-muted"></small>
              </div>
            </div>
          </li>
       
      </div>
     
 
	 </ul>
      
	  <div infinite-scroll="fetchNext()"  infinite-scroll-distance="1" style=" width:85%; height:100%">
		<div data-masonry data-x-margin="5" data-y-margin="3" data-img-width="250" style="margin:3% 2% 0 2%; padding: 20px 1% 0; border:0px solid black; width:100%; ">
						<div  data-ng-repeat="model in proddata" style="border:0px solid black; padding:1px;">
							  <a id="link-3" ng-href="{{model.affiliateurl}}" target="_blank">
              
                  <div class="box">
                    <img  check-image src="{{model.productimageurl || $parent.imageunavailable}}"  width="250" alt="" />

		
                    <div class="overlay">
                    <h4>{{model.productname}}</h4>
                    <h5>${{model.price}}</h5>
					
					{{model.longproductdesc}}</div>
                  </div>
               
              </a>
			</div>
		</div>
	</div>
	  
	  
	  
	  
	  
	  </div>
    
